@page
@using GraduationWorksOrganizer.Web.Helpers
@model RegisterStudentModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Факултет:</label>
                <select id="facultySelect" class="load" data-ajax-loadelementId="departmentSelect" asp-for="Input.FacultyId" asp-items="@Html.GetEntityEnumSelectList(Model.Faculties)">
                    <option value="default" selected="selected">Моля изберете</option>
                </select>
                <span></span>
            </div>
            <div class="form-group">
                <label>Катедра:</label>
                <select id="departmentSelect" class="load" data-axaj-load="Departments" data-ajax-loadelementId="specialtiesSelect" asp-for="Input.DepartmentId"></select>
                <span></span>
            </div>
            <div class="form-group">
                <label>Специалност:</label>
                <select id="specialtiesSelect" class="load" data-axaj-load="Specialties" data-ajax-loadelementId="groupsSelect" asp-for="Input.SpecialtyId"></select>
                <span></span>
            </div>
            <div class="form-group">
                <label>Специалност:</label>
                <select id="groupsSelect" class="load" data-axaj-load="Groups" asp-for="Input.GroupId"></select>
                <span></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            let items = document.getElementsByClassName("load");
            for (let i = 0; i < items.length; i++) {
                let item = items[i];
                item.addEventListener('change', function () {
                    RemoveDefaultOption(item.id);
                    const $itemSourceSelectId = $(item).attr('data-ajax-loadelementId');
                    let itemForLoad = document.getElementById($itemSourceSelectId);
                    const $apiEndPoint = $(itemForLoad).attr('data-axaj-load');
                    const selectedItemId = item.options[item.selectedIndex].value;
                    requestSelectOptions($apiEndPoint, itemForLoad.id, selectedItemId);
                    MakeSelectDisabledIfEmpty(item);
                })
                MakeSelectDisabledIfEmpty(item);
            }

            function requestSelectOptions(apiEndPoint, itemForLoadId, selectedId) {
                const apiRoute = 'https://localhost:44306/api/UnivercityItems/';
                $.ajax({
                    url: apiRoute + apiEndPoint + '/' + selectedId,
                    success: function (result) {
                        AddSelectOptions(result, itemForLoadId)
                    }
                })
            }

            function AddSelectOptions(ajaxResult, itemForLoadId) {
                let itemForLoad = $('#' + itemForLoadId);
                $(itemForLoad).empty();
                AddDefaultOption(itemForLoad);
                $.each(ajaxResult, function (index, value) {
                    itemForLoad.append('<option value="' + value.id + '">' + value.name + '</option>');
                });
                MakeSelectDisabledIfEmpty(itemForLoad);
            }

            function MakeSelectDisabledIfEmpty(selectItem) {
                console.log($(selectItem).length);
                if ($(selectItem).length === 0) {
                    $(selectItem).prop('disabled', true);
                    AddDefaultOption(selectItem);
                }
            }

            function RemoveDefaultOption(itemId) {
                let options = $('#' + itemId + '>option');
                for (let i = 0; i < options.length; i++) {
                    if (options[i].value === 'default') {
                        options[i].remove();
                    }
                }
            }

            function AddDefaultOption(itemForLoad) {
                itemForLoad.append('<option value="default" selected="selected" >Моля изберете</option>');
            }
        })
    </script>
}
