@page
@model GraduationWorksOrganizer.Web.Areas.Marks.Pages.AddMarksModel
@{
}
<div class="content-heading">
    <p class="h3">Добавяне на оценка</p>
</div>
<div class="container">
    <div class="row">
        @foreach (GraduationWorksOrganizer.Web.Areas.Marks.ViewModels.DefenceDateViewModel ddvm in Model.DefenceDates)
        {
            <div class="col-12 mb-3" id="@ddvm.Id">
                <text class="font-weight-bold h4">@ddvm.Description</text>
                <text class="text-right h4">@ddvm.FromDate.ToLongDateString()</text>
            </div>
            <div class="col-12 border-bottom mb-5">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Студент</th>
                            <th class="text-center">Факултетен Номер</th>
                            <th class="text-center">Специалност</th>
                            <th class="text-center">Тема</th>
                            <th class="text-center">Оценка</th>
                            <th class="text-center">Точки</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GraduationWorksOrganizer.Web.Areas.Marks.ViewModels.DefenceEventUserEntryViewModel userEntry in ddvm.DefenceEntries)
                        {
                            <tr>
                                <td class="text-center">@userEntry.StudentName</td>
                                <td class="text-center">@userEntry.FacultyNumber</td>
                                <td class="text-center">@userEntry.SpecialtyName</td>
                                <td class="text-center">@userEntry.ThesesName</td>
                                <td class="text-center">@userEntry.Mark</td>
                                <td class="text-center">@userEntry.Points / @userEntry.Requerments.Sum(p => p.MaxPoints)</td>
                                <td>
                                    @if (userEntry.Mark == 0)
                                    {
                                        <a class="float-right" data-toggle="modal" data-target="#requermenta-@userEntry.UserEntryId">
                                            <img class="icon" src="~/images/previewThesisIcon.png" />
                                        </a>
                                        <div class="modal fade" id="requermenta-@userEntry.UserEntryId" tabindex="-1" role="dialog" aria-labelledby="requermenta-@userEntry.UserEntryId" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <div class="container modal-title">
                                                            <div class="row w-100">
                                                                <p class="font-weight-bold text-left h4" id="requermenta-@userEntry.UserEntryId">Оценка: @userEntry.StudentName @userEntry.FacultyNumber </p>
                                                            </div>
                                                            <div class="row w-100">
                                                                <p class="text-left h6" id="requermenta-@userEntry.UserEntryId">Тема: @userEntry.ThesesName @userEntry.Type</p>
                                                            </div>
                                                        </div>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form method="post">
                                                        <div class="modal-body">
                                                            <div class="container">
                                                                @for (int i = 0; i < userEntry.Requerments.Count(); i++)
                                                                {
                                                                    <div class="row border-bottom">
                                                                        <div class="w-100">
                                                                            <span asp-validation-for="Input.RequermentsPoints[i].ActualPoints"></span>
                                                                        </div>
                                                                        <div class="col-8">
                                                                            <p class="font-weight-bold text-left">Изискване</p>
                                                                            <p>@userEntry.Requerments.ElementAt(i).Description</p>
                                                                        </div>
                                                                        <div class="col-2">
                                                                            <p class="font-weight-bold text-left">Максимален брой точки</p>
                                                                            <p>@userEntry.Requerments.ElementAt(i).MaxPoints</p>
                                                                        </div>
                                                                        <div class="col-2">
                                                                            <p class="font-weight-bold text-left">Точки от защитата</p>
                                                                            <input hidden asp-for="Input.RequermentsPoints[i].RequermentId" type="number" value="@userEntry.Requerments.ElementAt(i).Id" />
                                                                            <input class="form-control" asp-for="Input.RequermentsPoints[i].ActualPoints" type="text" />
                                                                        </div>
                                                                    </div>
                                                                }
                                                                <div class="row">
                                                                    <div class="w-100">
                                                                        <span asp-validation-for="Input.ActualMark"></span>
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <p class="font-weight-bold text-left h4 mt-3" id="requermenta-@userEntry.UserEntryId">Крайна оценка:</p>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <input hidden asp-for="Input.UserEntryId" value="@userEntry.UserEntryId" />
                                                                        <input class="form-control mt-3" asp-for="Input.ActualMark" type="text" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" asp-page-handler="">
                                                                Запис
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>