@page
@model GraduationWorksOrganizer.Web.Areas.Marks.Pages.MyMarkItemsStudentModel
@{
    <div class="content-heading">
        <p class="h3">Моите оценки</p>
    </div>

    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Предмемт</th>
                    <th class="text-center">Дата</th>
                    <th class="text-center">Тема</th>
                    <th class="text-center">Тип</th>
                    <th class="text-center">Точки</th>
                    <th class="text-center">Точки(%)</th>
                    <th class="text-center">Преподавател</th>
                    <th class="text-center">Оценка</th>
                </tr>
            </thead>
            <tbody>
                @foreach (GraduationWorksOrganizer.Web.Areas.Marks.ViewModels.MarkItemViewModel markItem in Model.MarkItems)
                {
                    <tr>
                        <td> @markItem.SubjectName</td>
                        <td>@markItem.Date.ToLongDateString()</td>
                        <td>@markItem.ThesesTitle</td>
                        <td>@markItem.ThesesType</td>
                        @if (markItem.MarkValue.HasValue)
                        {
                            <td class="text-primary">@markItem.MarkPoints от @markItem.ThesesPoints</td>
                            <td>@markItem.PointsPercentage</td>
                        }
                        else
                        {
                            <td>-</td>
                            <td>-</td>
                        }
                        <td>@markItem.TeacherScienceDegree @markItem.TeacherName</td>
                        @if (markItem.MarkValue.HasValue)
                        {
                            <td class="text-primary">@markItem.MarkValue</td>
                        }
                        else
                        {
                            <td>-</td>
                        }
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <text class="font-weight-bold">Общ текущ резултат:</text>
                    </td>
                    <td class="text-primary">
                        @Model.OverAllResult
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}