@page
@model GraduationWorksOrganizer.Web.Areas.GraduationWork.Pages.BachelorThesesListModel
@{
    ViewData["Title"] = "Активни Теми";
}
<h1>@ViewData["Title"]</h1>
<div class="overflow-auto">
    @if (Model.Theses.Any())
    {
        <table class="border-table">
            <thead class="border-header">
                <tr>
                    <th class="text-center">Заглавие:</th>
                    <th class="text-center">Тип:</th>
                    <th class="text-center">Автор:</th>
                    <th class="text-center">Дата на създаване:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (GraduationWorksOrganizer.Web.Areas.GraduationWork.ViewModels.ThesesViewModel vm in Model.Theses)
                {
                    <tr>
                        <td class="text-left">@vm.Title </td>
                        <td class="text-center">@vm.Type </td>
                        <td class="text-center">@vm.Creator </td>
                        <td class="text-center">@vm.CreationDate </td>
                    </tr>
                    <tr class="row-footer">
                        <td colspan="6">
                            <a asp-area="GraduationWork" asp-page="/PreviewConcreteTheses+@vm.ThesesId">
                                <text class="modal-title">
                                    Покажи повече ..
                                </text>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <div class="footer-space">
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    }
</div>