@page
@model GraduationWorksOrganizer.Web.Areas.GraduationWork.Pages.MyThesesModel
@{
}

<h1> Моите теми</h1>

@if (Model.Theseses.Any())
{
    foreach (GraduationWorksOrganizer.Web.Areas.GraduationWork.ViewModels.PreviewThesisExtendedViewModel thesisModel in Model.Theseses)
    {
        <div class="row border">
            <div class="col-md">
                <div class="row">
                    <text class="text-left font-weight-bold">@thesisModel.Title</text>
                </div>
                <div class="row">
                    <text class="text-left">@thesisModel.Subject.Name</text>
                </div>
                <div class="row">
                    <text class="text-left">@thesisModel.CreationDate.ToShortDateString()</text>
                </div>
            </div>
            <div class="col">
                <div class="row row float-right">
                    <a class="nav-item btn btn-floating float-right" data-toggle="modal" data-target="#exampleModal-@thesisModel.Id">
                        <img class="icon" src="~/images/previewThesisIcon.png" />
                    </a>
                    <a class="nav-item btn btn-floating float-right" data-toggle="collapse" href="#collapse-upload-data-@thesisModel.Id" role="button" aria-expanded="false">
                        <img class="icon" src="~/images/uploadIcon.png" />
                    </a>
                    <a class="nav-item btn btn-floating float-right" data-toggle="collapse" href="#collapse-request-teacher-@thesisModel.Id" role="button" aria-expanded="false">
                        <img class="icon" src="~/images/peoceedIcon.png" />
                    </a>
                </div>
            </div>
            <hr />
        </div>
        <div class="modal fade" id="exampleModal-@thesisModel.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel--@thesisModel.Id" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel-@thesisModel.Id">@thesisModel.Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="width:100%">
                        <p class="font-weight-bold">Описание</p>
                        <p class="text-md-left">@thesisModel.Description </p>
                        <p class="font-weight-bold">Изисквания</p>
                        @foreach (GraduationWorksOrganizer.Web.Areas.GraduationWork.ViewModels.RequermentViewModel requerment in thesisModel.Requerments)
                        {
                            <div class="row">
                                <div class="col text-left">
                                    <text>&#8226;</text>
                                    <text>@requerment.Description</text>
                                </div>
                                <div class="col text-right">
                                    <text>@requerment.MaxPointsCount точки</text>
                                </div>
                            </div>
                        }
                        <span />
                        <div class="row">
                            <div class="col text-left">
                                <text>@thesisModel.Type</text>
                            </div>
                            <div class="col text-right">
                                <text>@thesisModel.CreationDate.ToShortDateString() </text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="collapse-upload-data-@thesisModel.Id" class="collapse">
            <div class="row">
                <div class="col-xl justify-content-center">
                    <text class="text-left font-weight-bold">Tova e imeto na faila.txt</text>
                </div>
                <div class="col justify-content-center">
                    <a class="btn">
                        <img class="icon" src="~/images/deleteIcon.jpg" />
                    </a>
                    <a class="btn">
                        <img class="icon" src="~/images/deleteIcon.jpg" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl justify-content-center">
                    <text class="text-left font-weight-bold">Tova e imeto na faila.txt</text>
                </div>
                <div class="col justify-content-center">
                    <a class="btn">
                        <img class="icon" src="~/images/deleteIcon.jpg" />
                    </a>
                    <a class="btn">
                        <img class="icon" src="~/images/deleteIcon.jpg" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
        </div>
        <div id="collapse-request-teacher-@thesisModel.Id" class="collapse border border-dark">
            <p>Tuk shte e logikara za request za odobrenie</p>
        </div>

        <br />
    }
}
else
{ <h3>Нямате записани теми</h3>
}
@section Scripts{
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
