@page
@model GraduationWorksOrganizer.Web.Areas.Commissions.Pages.CommissionsListModel
@{
    <div class="content-heading">
        <p class="h3">Преподаватели</p>
    </div>
    <div class="row border-bottom p-0 mb-3">
        <div class="col-2">
            <p class="font-weight-bold h6 mb-0 p-2">Филтър катедри</p>
        </div>
        <div class="co-8" style="align-self:center">
            <select id="deparment-filter-source" class="form-control font-weight-bold h6 mb-1 p-0">
                @foreach (string departmentName in Model.DepartmentNames)
                {
                    <option>@departmentName</option>
                }
            </select>
        </div>
    </div>
    <div id="teachers-container" class="container">
        @foreach (GraduationWorksOrganizer.Web.Areas.Commissions.ViewModels.PreviewTeacherViewModel tvm in Model.Teachers)
        {
            <div class="row" id="@tvm.TeacherId" filter-value="@tvm.DepartmentName">
                <div class="col-3">
                    @if (tvm.Image == null || tvm.Image.Length == 0)
                    {
                        <img class="avatar" alt="avatar" src="~/images/DefaultProfilePicture.png" />
                    }
                    else
                    {
                        <img class="avatar" alt="avatar" src="data:image/png;base64, @Convert.ToBase64String(tvm.Image)" />
                    }
                </div>
                <div class="col-8">
                    <div class="row">
                        <text class="font-weight-bold">@tvm.ScienceDegree @tvm.Name</text>
                    </div>
                    <div class="row">
                        <text>Кабинет: @tvm.Cabinet</text>
                    </div>
                    <div class="row">
                        <text>Телефон: @tvm.PhoneNumber</text>
                    </div>
                    <div class="row">
                        <text>Катедра: @tvm.DepartmentName</text>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts{


    <script>
        const filter = document.getElementById('deparment-filter-source');
        const elementsForFiltration = document.getElementById('teachers-container').children;

        window.loaded = RegisterHandlers();

        function RegisterHandlers() {
            filter.addEventListener('change', CollapseElementByFilter);
        }

        function CollapseElementByFilter(event) {
            Array.prototype.forEach.call(elementsForFiltration, (element) => {
                const rowValue = element.getAttribute('filter-value');
                const filterValue = event.target.options[event.target.selectedIndex].value;
                if (rowValue === filterValue || filterValue === 'Всички') {
                    element.style.display = 'flex';
                }
                else {
                    element.style.display = 'none';
                }
            });
        }
    </script>

}
